@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi-Variable';
        src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
            url('./fonts/Satoshi-Variable.woff') format('woff'),
            url('./fonts/Satoshi-Variable.ttf') format('truetype');
            font-weight: 300 900;
            font-display: swap;
            font-style: normal;
    }

    @font-face {
        font-family: 'Inter-Variable';
        src: url('./fonts/Inter.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }
<<<<<<< HEAD
}

@layer utilities {
    .square {
        aspect-ratio: 2 / 1;
    }
}

.blue-box {
    @apply p-2 bg-blue-500 text-gray-200 text-lg font-extrabold;
=======
>>>>>>> 4e001dc6d2ed7f7c2ad74cc00d098436adc21a48
}