* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue-color: #5372f0;
    --dark-blue-color: #2c52ed;
    --white-color: #fff;
    --border-color: #bfbfbf;
    --red-color: #dc3545;
}

body {
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 40px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper form {
    width: 300px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 40px;
}

.wrapper form .field {
    margin-bottom: 30px;
    width: 100%;
}




/* Input Fields */

.wrapper form .field input {
    font-size: 18px;
    height: 50px;
    padding-left: 45px;
    padding-right: 40px;
    outline: none;
    border: 1px solid var(--border-color);
    border-bottom-width: 2px;
    border-radius: 5px;
    width: 100%;
}

.wrapper form .field input:focus {
    border-color: var(--blue-color);
}

.wrapper form .field input::placeholder {
    font-size: 17px;
    color: var(--border-color)
}

.wrapper form .field .input-area {
    position: relative;
}

.wrapper form .field .input-area i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.wrapper form .field .input-area i.icon {
    left: 15px;
    color: var(--border-color)
}

.wrapper form .field .input-area i.error-icon {
    right: 15px;
}

.wrapper form .field .error {
    color: var(--red-color);
}

.wrapper form .field .error-txt {
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.error .error {
    display: block;
}

form .field.error input {
    border-color: var(--red-color);
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        margin-left: 0;
    }

    20%, 80% {
        margin-left: -12px;
    }

    40%, 60% {
        margin-left: 12px;
    }
}


/* Action Buttons */

form .link a {
    text-decoration: none;
    color: var(--blue-color);
}

form .link.pass-link {
    text-align: left;
}

form input[type="submit"] {
    color: var(--white-color);
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
}

form input[type="submit"]:hover {
    background-color: var(--dark-blue-color);
}